[submodule "plib_code"]
	path = plib_code
	url = https://github.com/zwping/PSeries_lib_code
[submodule "plib_frame"]
	path = plib_frame
	url = https://github.com/zwping/PSeries_lib_frame
[submodule "plib_update"]
	path = plib_update
	url = https://github.com/zwping/PSeries_lib_update
